#--------------------------------------------------------
# This file is managed by Juju
#--------------------------------------------------------

# See https://github.com/stockholmuniversity/Nagios-NRPE/blob/2.0.10/share/nrpe.cfg
server_address={{ nrpe_ipaddress or '0.0.0.0' }}
server_port={{ server_port }}
allowed_hosts={{ external_nagios_master }},{{ monitor_allowed_hosts }}
nrpe_user=nagios
nrpe_group=nagios
dont_blame_nrpe={{ dont_blame_nrpe }}
debug={{ debug }}
command_timeout=60
pid_file=/var/run/nagios/nrpe.pid

# All configuration snippets go into nrpe.d/
include_dir=/etc/nagios/nrpe.d/

