#------------------------------------------------------------
# This file is managed by Juju.
#------------------------------------------------------------

[external-nagios]
  path = /var/lib/nagios/export/
  comment = External Nagios Node configs
  list = false
  read only = true
  lock file = /var/run/rsyncd.external-nagios.lock
  hosts allow = {{ external_nagios_master }}
